.header-app {
  background-color: rgb(255, 255, 255);
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  margin-bottom: 3px;
  justify-content: space-between;
}
img {
  width: 80%;
  height: 50%;
  margin-top: 20px;
}

.header-items {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-items2 {
  display: flex;
}

p {
  padding: 10px;
  margin: 20px;
  font-weight: bold;
}

.app .container-img {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-evenly;
  margin-left: 9%;
  margin-right: 9%;
}
