.header-app {
  background-color: rgb(255, 255, 255);
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  margin-bottom: 3px;
  justify-content: space-between;
}

img {
  width: 80%;
  height: 50%;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: #fd5948;
}

.container-img {
  position: relative;
}
.text {
  position: absolute; /* Posiciona el texto en relación con el contenedor */
  top: 50%; /* Posiciona el texto en la mitad vertical del contenedor */
  left: 50%; /* Posiciona el texto en la mitad horizontal del contenedor */
  transform: translate(
    -50%,
    -50%
  ); /* Centra el texto exactamente sobre la imagen */
  color: #fd5948;
  padding: 2vw; /* Espacio interno del texto relativo al ancho de la ventana */
  border-radius: 5px; /* Bordes redondeados para el fondo del texto */
  font-size: 4vw; /* Tamaño de letra relativo al ancho de la ventana */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
.header-items {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-items2 {
  display: flex;
}
@media (max-width: 1337px) {
  .header-items {
    display: none; /* Hace que el elemento desaparezca */
  }
}
p {
  padding: 10px;
  margin: 20px;
  font-weight: bold;
}

.app .container-img {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-evenly;
  margin-left: 9%;
  margin-right: 9%;
}
